## Directories with built files:
/bin/
/doc/
/build-jars/
/classes/

## Debug & test directories:
/test/

## Compiled files:
*.jar
*.class

## Maven
target/

## Itellij
.idea/
/test-eos2qlab-config.json
